@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300;600&display=swap');

/***
    The new CSS reset - version 1.7.2 (last updated 23.6.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
 *:where(:not(html, iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: pointer;
  outline: 1px solid transparent;
}

a:focus,
button:focus {
  outline: 1px solid #00F;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
/* input, textarea {
  -webkit-user-select: auto;
} */

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
 display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
 - fix for the content editable attribute will work properly.
 - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  /* -webkit-line-break: after-white-space;
  -webkit-user-select: auto; */
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

/* global styles */
body {
  background-color: #DEF8FA;
  font-family: 'Montserrat', sans-serif;
  width: 100vw;
}

.app-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 90vh;
  padding-top: 10vh;
  width: 100%;
}
.description-link {
  border-bottom: 1px solid #000;
  font-weight: 600;
}

.description-link:hover {
  color: #666;
}

/* main header styles */
.main-header {
  align-items: center;
  background-color: inherit;
  border-bottom: 1px solid #666;
  display: flex;
  height: 10vh;
  justify-content: space-between;
  padding: 0 30px;
  position: fixed;
  width: 100%;
}

.slide-in {
  animation: slideIn 1s forwards;
}

.jcdotdev-wrapper {
  flex: 5;
  left: 0;
  position: relative;
}

.jcdotdev {
  align-items: baseline;
  display: flex;
  font-size: 180%;
  font-weight: 700;
  width: fit-content;
}

.jcdotdev-small {
  font-size: 50%;
  font-weight: 500;
}

/* main nav styles */
.main-nav {
  flex: 6;
}

.nav-list {
  align-items: center;
  display: flex;
  font-size: 130%;
  justify-content: space-between;
  text-transform: uppercase;
  width: 100%;
}

.nav-list-item-link:hover {
  text-decoration: underline;
}

/* animation keyframes */
@keyframes slideIn {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(0);
  }
}