* {
  overscroll-behavior: none;
}

body {
  background-color: #000;
  overflow-x: hidden;
  width: 100%;
}

.app-wrapper {
  font-family: 'Noto Sans Mono', monospace;
  padding-top: revert;
}

/* main header styles */
.main-header {
  border-bottom: 1px solid #FFF;
  color: #FFF;
}

/* snake styles */
.snake-game-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 90vh;
  margin-top: 5vh;
  padding: 0 0 10px 0;
}

.snake-heading-and-timer-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 10vh;
  width: 600px;
}

.snake-heading {
  border: 1px solid #28BD00;
  border-bottom: none;
  color: #28BD00;
  padding: 10px 15px;
}

.snake-game-canvas {
  border: 1px solid #28BD00 ;
  position: relative;
}

.snake-game-canvas:focus {
  outline: none;
}

.timer {
  color: #28BD00;
  font-size: 110%;
}

.game-over-modal,
.game-instructions-modal {
  align-items: center;
  background-color: #000;
  border: 1px solid #28BD00;
  color: #28BD00;
  display: flex;
  flex-direction: column;
  height: 352px;
  justify-content: center;
  line-height: 1.5;
  /* horrible margin hack :| */
  margin-top: -65px; 
  padding: 15px;
  position: absolute;
  width: 600px;
}

.game-over-text {
  font-size: 300%;
}

.game-instructions-paragraph {
  text-align: justify;
}

.user-score-text {
  font-size: 150%;
}

.snake-game-buttons-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  width: 600px;
}

.game-button {
  background-color: #28BD00;
  border: 6px double #000;
  border-radius: 8px;
  color: #000;
  font-size: 130%;
  font-weight: 300;
  padding: 5px;
  text-align: center;
  width: 30%;
}

.game-button:hover {
  background-color: #1F8E02;
}

.game-button:active {
  background-color: #2FDF00;
}

.game-button:disabled {
  background-color: #666;
}

.close-instructions-button {
  margin-top: 30px;
}

.hi-scores-modal {
  align-items: center;
  background-color: #000;
  color: #28BD00;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
}

.hi-scores-table {
  color: #28BD00;
  font-size: 130%;
  margin: 40px;
}

.hi-scores-table-header {
  font-size: 150%;
  font-weight: 600;
  padding-bottom: 20px;
  text-align: center;
  text-decoration: underline;
}

.hi-scores-table-data {
  border: 2px solid #28BD00;
  padding: 10px 100px 10px 25px;
}

.link-to-github-wrapper {
  color: #28BD00;
}

.link-to-github {
  border-bottom: 1px solid #28BD00;
}












.hidden {
  display: none;
}