.fact-wrapper {
  align-items: center;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 240px;
  padding: 20px;
  width: 70%;
}

.fact-title {
  font-size: 200%;
  text-decoration: underline;
}

.asterisk {
  color: #F00;
}

.fact {
  font-size: 120%;
  font-style: italic;
  font-weight: 300;
  line-height: 1.4;
  min-height: 120px;
  padding-top: 20px;
  margin: 60px;
}

.buttons-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 65%;
}

.get-fact-button {
  border: 2px solid #666;
  border-radius: 6px;
  padding: 7px;
  text-align: center;
  width: 200px;
}

.get-fact-button:hover {
  text-decoration: underline;
}

.get-fact-button:active {
  border: transparent;
  background-color: #000;
  color: #DEF8FA;
}

.annotation {
  color: #999;
  font-size: 70%;
  font-weight: 300;
  margin-top: 30px;
}

.credit-link {
  color: #000;
  text-decoration: underline;
}

.disclaimer {
  color: #000;
  margin-top: 10px;
}