<section class="fact-wrapper">
  <h2 class="fact-title">Fact:<span class="asterisk">*</span></h2>
  <span class="fact"></span>
  <section class="buttons-wrapper">
    <button class="get-fact-button get-random-fact-button">Get Random Fact</button>
    <button class="get-fact-button get-todays-fact-button">Get Today's Fact</button>
  </section>
  <span class="credit annotation">
    This feature utilizes the
      <a
        class="credit-link"
        href="https://uselessfacts.jsph.pl"
        target="_blank"
      >
        Random Useless Facts HTTP API for useless facts
      </a>
  </span>
  <span class="disclaimer annotation">
    <span class="asterisk">*</span>These may not be facts
  </span>
</section>
