@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;300;600;900&display=swap');

body {
  /* align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between; */
  font-family: 'Noto Sans Mono', monospace;
  min-height: 100vh;
  width: 100vw;
}