<section class="content-section">
  <section class="main-greeting">
    <h1 class="main-greeting-heading">Hello</h1>
    <p class="self-description">
      I am a fullstack software developer, most experienced in JavaScript, PHP, and SQL. I professionally specialize in building custom applications for web, mobile, and desktop platforms. I currently maintain a <a class="description-link" target="_blank" href="https://sustainabilityreporting.metro.net/">Sustainability Dashboard</a> for <abbr title="Los Angeles">LA</abbr> County as well as a Qless-like system and an electronic price tag system for <a href="https://www.planet13dispensaries.com/" class="description-link">Planet 13</a> in Las Vegas, <abbr title="Nevada">NV</abbr> and Santa Ana, <abbr title="California">CA</abbr>.
    </p>
    <p class="self-description">
      I received a Certificate in Frontend Engineering from Turing School of Software and Design in 2020 over the course of 7 months. The program focused on JavaScript fundamentals, React, Redux, and <abbr title="Test Driven Dvelopment">TDD</abbr>, as well as social and moral dilemmas in the tech space and some of our responsibilities as developers to address these both in our lives and in our code. I remain loosely involved with the school through their mentorship program by helping current students with projects, concepts, and mental health as they go through the program.
    </p>
    <p class="self-description">
      I am always happy to connect and chat about anything tech. I am also open to contracts or collaborating on projects. If you need anything custom created, please feel free to reach out either via the social links below or by <a class="description-link" href="mailto:johnny@ioconic.dev">email</a>. 
    </p>
  </section>
  <section class="social-media-icons-wrapper">
    <a
      class="social-media-link"
      target="_blank"
      href="https://www.linkedin.com/in/johnnykcassidy/"
    >
      <img
        class="social-media-icon"
        src="/assets/images/linkedin_icon.png"
        alt="LinkedIn Icon"
      />
    </a>
    <a
      class="social-media-link"
      target="_blank"
      href="https://github.com/pJanks/"
    >
      <img
        class="social-media-icon"
        src="/assets/images/github_icon.png"
        alt="GitHub Icon"
      />
    </a>
    <a
      class="social-media-link"
      target="_blank"
      href="https://twitter.com/JCdotDEV/"
    >
      <img
        class="social-media-icon"
        src="/assets/images/twitter_icon.png"
        alt="Twitter Icon"
      />
    </a>
  </section>
</section>